<nav class="flex items-center justify-center p-2 border-solid m-auto bg-zinc-900 my-2">
    <ul class="flex gap-6">
        <li><a class="text-white font-semibold text-xm" href="">Inicio</a></li>
        <li><a class="text-white font-semibold text-xm" href="">Proyectos</a></li>
        <li><a class="text-white font-semibold text-xm" href="">Sobre Mi</a></li>
        <li><a class="text-white font-semibold text-xm" href="">Contacto</a></li>
    </ul>
</nav>

<style>
    nav{
        border: solid 1px #fff;
        border-radius: 16px;
        width: 390px;
    }
</style>